:root {
	--var-body-bg: rgb(51, 51, 51);
	--var-body-fc: rgb(246, 246, 246);
	--var-header-bg: rgb(102, 102, 102);
   --var-trailer-hover: rgb(0, 255, 255);
   --var-items-hover: rgb(173, 180, 169);
   --var-trailer: rgb(217, 234, 217);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--var-body-bg: #333;
		--var-body-fc: #fff;
		--var-header-bg: #666;
	}
} */

body {
   font: 18px/1.5 sans-serif;
	padding: 0;
	margin: 0;
	background-color: var(--var-body-bg);
	color: var(--var-body-fc);
   height: 100%;
}



.header {
	padding: 1rem;
	background-color: var(--var-header-bg);
	border-bottom: 0.1rem solid var(--var-body-fc);
}

.link {
   text-decoration: none;
   color: var(--var-body-fc);
   position: relative;

}

.link::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: var(--var-body-fc);
   bottom: 0;
   left: 0;
   transform-origin: right;
   transform: scaleX(0);
   transition: transform .5s ease-in-out;
}

.link:hover::before {
   transform-origin: left;
   transform: scaleX(1);
}


.wrapper {
   display: flex;
   justify-content: space-around;
   padding: 0 20px;
   /* font-size: clamp(1rem, 1.5rem, 3rem); */
}

/* .wrapper > :nth-child(2) {
   padding-left: -10px;
} */

.header {
   display: inline-flex;
   width: 100%;
   justify-content: space-around;
   align-items: center;
}

.items {
   padding: 10px 20px;
   background-color: var(--var-body-bg);
   color: var(--var-body-fc);
   border-radius: 10px;
   transition: none;
   text-decoration: none;
   transition: transform 0.3s ease-in-out;
}

.items:hover {
   color: var(--var-items-hover);
   transform: scale(1.1);
}

.trailer {
   color: var(--var-trailer);
   text-decoration: none;
}

.trailer:hover {
   color: var(--var-trailer-hover);
}


@media (max-width: 600px) {
   .wrapper {
      flex-direction: column;
      align-items: start;
      justify-content: center;
   }

   .header {
      text-align: center;
   }
   
}

@media (min-width: 950px) {
   .wrapper {
      font-size: 24px;
   }
}
